<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="./login.css">
    </head>

    <body>
        <h1>Fill your account 's information</h1>
        <form id="demo" onsubmit="Login(event)">
            Username 
            <input type="text" id="name">
            <br>
            Password
            <input type="text" id="pass">
            <br>
            <button type="submit" id="button">Login</button>
        </form>
        <p id="noti"></p>
        <script src="./login.js"></script>        
    </body>
</html>